# Ignore Gradle project-specific cache directory
.gradle

# Ignore build artifacts
build
bin

# Ignore IDE-specific directories
.idea
.vscode

# Ignore Eclipse-specific directories
.settings
.project
.classpath

# Ignore test repos
test-repos
